# Create and Manipulate Tables Using the `datascience` Library
## Mini-Lab 2: Joining Tables, Grouping Tables, and Pivot Tables

Welcome to your next mini-lab! Go ahead an run the following cell to get started. You can do that by clicking on the cell and then clickcing `Run` on the top bar. You can also just press `Shift` + `Enter` to run the cell.

In [55]:
from datascience import *
import numpy as np
import otter

grader = otter.Notebook("m3_l2_tests")

Now let's try something more interesting with tables. If you recall, this is the table from the previous mini-lab. Go ahead and run the next cell to recreate it.

In [3]:
fruits = Table().with_columns(
                                "Names", make_array("Tien", "Lucy", "Ahmed"),
                                "Apples", make_array(5, 2, 3),
                                "Oranges", make_array(2, 3, 1),
                                "Dragonfruits", make_array(3, 7, 9)
                             )
fruits

Names | Apples | Oranges | Dragonfruits
Tien  | 5      | 2       | 3
Lucy  | 2      | 3       | 7
Ahmed | 3      | 1       | 9

Let's now say that we have another table that contains more information. Let's call this table `more_fruits` and contains information like our trio's favorite fruits, least favorite fruits, and (you guessed it) more fruit values! Run the next cell to import this data.

In [4]:
more_fruits = Table().with_columns(
                                "Names", make_array("Tien", "Lucy", "Ahmed"),
                                "Lychee", make_array(3, 14, 12),
                                "Rambutan", make_array(9, 0, 1),
                                "Kiwi", make_array(4, 10, 7),
                                "Favorite Fruit", make_array("Apple", "Orange", "Lychee"),
                                "Least Favorite Fruit", make_array("Orange", "Kiwi", "Kiwi")
                             )
more_fruits

Names | Lychee | Rambutan | Kiwi | Favorite Fruit | Least Favorite Fruit
Tien  | 3      | 9        | 4    | Apple          | Orange
Lucy  | 14     | 0        | 10   | Orange         | Kiwi
Ahmed | 12     | 1        | 7    | Lychee         | Kiwi

It's annoying to deal with two separate tables so data scientists often join multiple tables together to consolidate related data. For your next task, go ahead `join` these two tables together!

In [8]:
all_fruits = fruits.join("Names", more_fruits)
all_fruits

Names | Apples | Oranges | Dragonfruits | Lychee | Rambutan | Kiwi | Favorite Fruit | Least Favorite Fruit
Ahmed | 3      | 1       | 9            | 12     | 1        | 7    | Lychee         | Kiwi
Lucy  | 2      | 3       | 7            | 14     | 0        | 10   | Orange         | Kiwi
Tien  | 5      | 2       | 3            | 3      | 9        | 4    | Apple          | Orange

In [ ]:
grader.check("q1")

Sadly the `all_fruits` table is too simplistic to play around with more advanced functions so we'll be importing our first ever outside dataset! The following dataset is taken from the [University of California, Irvine](https://archive.ics.uci.edu/ml/datasets/Forest+Fires) includes data about forest fires in Portugal. Run the following cell to create this table.

In [76]:
forestfires = Table.read_table("../datasets/forestfires.csv")
forestfires = forestfires.select("month", "temp", "wind", "rain", "area")

forestfires.show(3)

Now that we have some interesting data, let's find some interesting metrics. Go ahead and `group` the data by `month` and aggregate by the average. This will allow us to pull some statistics about these forest fires over the course of the year.

*NOTE*: You can use the `np.average` function to find the average value of an array.

In [77]:
monthly_statistics = forestfires.group("month", np.average)
monthly_statistics

month | temp average | wind average | rain average | area average
apr   | 12.0444      | 4.66667      | 0            | 8.89111
aug   | 21.6315      | 4.08641      | 0.0586957    | 12.4891
dec   | 4.52222      | 7.64444      | 0            | 13.33
feb   | 9.635        | 3.755        | 0            | 6.275
jan   | 5.25         | 2            | 0            | 0
jul   | 22.1094      | 3.73438      | 0.00625      | 14.3697
jun   | 20.4941      | 4.13529      | 0            | 5.84118
mar   | 13.0833      | 4.96852      | 0.0037037    | 4.35667
may   | 14.65        | 4.45         | 0            | 19.24
nov   | 11.8         | 4.5          | 0            | 0
... (2 rows omitted)

In [ ]:
grader.check("q2")

Let's look at just one variable specifically and pivot accordingly to gain deeper insights about the data. Rather than just grouping by month, group the data by both `month` and `rain` with the corresponding values as `area`. We want to aggregate the `area`s using the same average function you used in the previous question.

In [82]:
rain_to_area = forestfires.pivot("month", "rain", values="area", collect=np.average)
rain_to_area

rain | apr     | aug     | dec   | feb   | jan  | jul     | jun     | mar     | may   | nov  | oct   | sep
0    | 8.89111 | 12.8371 | 13.33 | 6.275 | 0    | 14.8332 | 5.84118 | 4.43887 | 19.24 | 0    | 6.638 | 17.9426
0.2  | 0       | 0       | 0     | 0     | 0    | 0       | 0       | 0       | 0     | 0    | 0     | 0
0.4  | 0       | 0       | 0     | 0     | 0    | 0       | 0       | 0       | 0     | 0    | 0     | 0
0.8  | 0       | 0       | 0     | 0     | 0    | 0       | 0       | 0       | 0     | 0    | 0     | 0
1    | 0       | 0       | 0     | 0     | 0    | 0       | 0       | 0       | 0     | 0    | 0     | 0
1.4  | 0       | 2.17    | 0     | 0     | 0    | 0       | 0       | 0       | 0     | 0    | 0     | 0
6.4  | 0       | 10.82   | 0     | 0     | 0    | 0       | 0       | 0       | 0     | 0    | 0     | 0

In [ ]:
grader.check("q3")

Now this data is messy and can be simplified but we'll play around with this data more in the following labs so stay tuned! In the meantime, Congratulations on finishing! Run the next cell to make sure that you passed all of the test cases.

In [58]:
grader.check_all()