# Create and Manipulate Tables Using the `datascience` Library
## Mini-Lab 1: Row Sorting, Row Selection, Applying Functions to Tables

Welcome to your next mini-lab! Go ahead an run the following cell to get started. You can do that by clicking on the cell and then clickcing `Run` on the top bar. You can also just press `Shift` + `Enter` to run the cell.

In [ ]:
from datascience import *
import otter

grader = otter.Notebook("m3_l1_tests")

Now we'll finally be working with tables! The following cell creates a table of fruits. Each row is a student whereas each row tells us how many of which fruit they have. Don't worry about _how_ the table is created, just worry about the contents of the table itself, though table creation isn't at all that bad!

In [ ]:
fruits = Table().with_columns(
                                "Names", make_array("Tien", "Lucy", "Ahmed"),
                                "Apples", make_array(5, 2, 3),
                                "Oranges", make_array(2, 3, 1),
                                "Dragonfruits", make_array(3, 7, 9)
                             )
fruits

Now that we have the `fruits` table, we can use row operations change around the format of our table. Go ahead and sort the `fruits` table in _descending_ order by the number of dragonfruits.

In [ ]:
dragonfruits = ...
dragonfruits

In [ ]:
grader.check("q1")

Now let's say that we want a table that contains only the students that have at least 5 dragonfruits. With your newly created `dragonfruits` table, modify the table so that it contains what we want.

In [ ]:
many_dragonfruits = ...
many_dragonfruits

In [ ]:
grader.check("q2")

Finally let's say that we want to convert the number of dragonfruits into the _price_ of the dragonfruits that these students own. In the function `dragonfruit_price`, replace `...` with code that will take the `number` of dragonfruits and `return` the corresponding price. One dragonfruit is worth one dollar (1) and fifty-three (53) cents.

In [ ]:
def dragonfruit_price(number):
    return ...

dragonfruit_price(1)

In [ ]:
grader.check("q3")

Finally let's apply this function to our `many_dragonfruits` table. Create a new column called `Dragonfruit Price` which contains the total price of the dragonfruits that these students own. For example, if a student has 3 dragonfruits, then the dragonfruit price should be 3 * 1.53 = 4.59.

_NOTE:_ Feel free to add more lines if you deem it necessary! Not everything needs a one line solution.

In [ ]:
prices = ...
prices

In [ ]:
grader.check("q4")

Congratulations on finishing! Run the next cell to make sure that you passed all of the test cases.

In [ ]:
grader.check_all()