# Create and Manipulate Tables Using the `datascience` Library
## Mini-Lab 1: Row Sorting, Row Selection, Applying Functions to Tables

Welcome to your next mini-lab! Go ahead an run the following cell to get started. You can do that by clicking on the cell and then clickcing `Run` on the top bar. You can also just press `Shift` + `Enter` to run the cell.

In [1]:
from datascience import *
import otter

grader = otter.Notebook("m3_l1_tests")

Now we'll finally be working with tables! The following cell creates a table of fruits. Each row is a student whereas each row tells us how many of which fruit they have. Don't worry about _how_ the table is created, just worry about the contents of the table itself, though table creation isn't at all that bad!

In [2]:
fruits = Table().with_columns(
                                "Names", make_array("Tien", "Lucy", "Ahmed"),
                                "Apples", make_array(5, 2, 3),
                                "Oranges", make_array(2, 3, 1),
                                "Dragonfruits", make_array(3, 7, 9)
                             )
fruits

Names | Apples | Oranges | Dragonfruits
Tien  | 5      | 2       | 3
Lucy  | 2      | 3       | 7
Ahmed | 3      | 1       | 9

Now that we have the `fruits` table, we can use row operations change around the format of our table. Go ahead and sort the `fruits` table in _descending_ order by the number of dragonfruits.

In [3]:
dragonfruits = fruits.sort("Dragonfruits", descending = True)
dragonfruits

Names | Apples | Oranges | Dragonfruits
Ahmed | 3      | 1       | 9
Lucy  | 2      | 3       | 7
Tien  | 5      | 2       | 3

In [4]:
grader.check("q1")

    All tests passed!

Now let's say that we want a table that contains only the students that have at least 5 dragonfruits. With your newly created `dragonfruits` table, modify the table so that it contains what we want.

In [6]:
many_dragonfruits = dragonfruits.where("Dragonfruits", are.above(5))
many_dragonfruits

Names | Apples | Oranges | Dragonfruits
Ahmed | 3      | 1       | 9
Lucy  | 2      | 3       | 7

In [7]:
grader.check("q2")

    All tests passed!

Finally let's say that we want to convert the number of dragonfruits into the _price_ of the dragonfruits that these students own. In the function `dragonfruit_price`, replace `...` with code that will take the `number` of dragonfruits and `return` the corresponding price. One dragonfruit is worth one dollar (1) and fifty-three (53) cents.

In [8]:
def dragonfruit_price(number):
    return 1.53 * number

dragonfruit_price(1)

1.53

In [9]:
grader.check("q3")

    All tests passed!

Finally let's apply this function to our `many_dragonfruits` table. Create a new column called `Dragonfruit Price` which contains the total price of the dragonfruits that these students own. For example, if a student has 3 dragonfruits, then the dragonfruit price should be 3 * 1.53 = 4.59.

_NOTE:_ Feel free to add more lines if you deem it necessary! Not everything needs a one line solution.

In [20]:
prices = many_dragonfruits.with_column(
    "Dragonfruit Price", many_dragonfruits.apply(dragonfruit_price, "Dragonfruits")
)
prices

Names | Apples | Oranges | Dragonfruits | Dragonfruit Price
Ahmed | 3      | 1       | 9            | 13.77
Lucy  | 2      | 3       | 7            | 10.71

In [ ]:
# Also a valid approach with multiple lines
price_array = many_dragonfruits.apply(dragonfruit_price, "Dragonfruits")
prices = many_dragonfruits.with_column(
    "Dragonfruit Price", price_array
)
prices

In [21]:
grader.check("q4")

    All tests passed!

Congratulations on finishing! Run the next cell to make sure that you passed all of the test cases.

In [22]:
grader.check_all()